.img {
    height: 100%;
    width: 100%;
    border: 0;
    position: absolute;
    z-index: -1;
}
.logo {
    margin-bottom: 30px;
}

.logo h2 {
    font-size: 26px;
}

.container {
    width: 460px;
    height: 300px;
    min-height: 300px;
    max-height: 300px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 3px 18px rgba(100, 0, 0, .5);
    font-size: 16px;
}

.layui-input {
    border-radius: 5px;
    width: 300px;
    height: 40px;
    font-size: 15px;
}

.layui-form-item {
    margin-left: -20px;
    margin-bottom: 26px;
}

.layui-btn {
    margin-left: -50px;
    border-radius: 5px;
    width: 350px;
    height: 40px;
    font-size: 15px;
}