#mean{text-indent: 2em;line-height: 30px;}
/*关于我们*/
#about p{text-indent: 2em;line-height: 35px;}
#about {margin-bottom: 60px;}
#footer{background: #222222;height: 60px;}
#footer p{text-align: center;line-height: 60px;color: #fff;}
